    .Container{
        display: flex;
        height: 80vh;
        .left{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding: 80px 60px;
            gap: 40px;
            justify-content: center;
            margin-left: 40px;

            .title{
                font-size: 40px;
                font-weight: bold;
                font-family: cursive;
            }

            .content{
                font-size: 25px;
                font-family: 'Trebuchet MS';
            }
        }

        .right{
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            position: relative;

            img{
                width: 700px;
                height: 500px;
                border-radius: 20%;         
                transform: scaleX(-1);


            }
        

            div{
                position: absolute;
                background-color: white;
                border: none;
                border-radius: 9%;
                z-index: 2;
                width: 230px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                height: 150px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                transform: translateY(-10px) scale(1.03);
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
            }
            }

            .statusWidgetOne{
                top: 20%;
                left: 70%;
            }

            .statusWidgetTwo,.statusWidgetThree{
                left: 0;
            
            }
            .statusWidgetTwo{
                bottom: 15%;
            }

        }
    }